{% extends "layout-auth.html" %}

{% block auth %}

<div class="col-sm-6 col-sm-offset-3">

  <hr>

  <!-- show any messages that come back with authentication -->
  {% if message %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endif %}

  <!-- LOGIN FORM -->
  <form action="/group/new" method="post">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">CREATE</button>
  </form>

  <hr>
  
</div>

{% endblock %}