{% extends "layout-auth.html" %}

{% block auth %}
<script src='http://d3js.org/d3.v3.min.js'></script>

  {% block dash %}{% endblock %}
  <hr>

  {% if message != '' %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endif %}


  <div id="user-msg" class="alert alert-dismissable" style="display: none"> 
  </div>

  <form name="add-user" action="/group/{{ group.id }}/add" method="post">
    <div class="form-group">
      <label>New user email</label>
      <input type="text" class="form-control" id="add-user-email" name="email">
    </div>

    <button type="submit" class="btn btn-warning btn-lg" id="add-user-btn" group-id="{{ group.id }}">Add user</button>
  </form>
  
  <hr>

  <a href='/group/{{ group.id }}/poll'><button type="submit" class="btn btn-danger btn-lg">Poll data</button></a>
  
  <hr>

  <div class='panel panel-default'>
    <div class="panel-heading"><b>Current users in this group</b></div>
    <ul class="list-group">
    {% for user in users %}
      <li class="list-group-item">
        {{ user.email }}
        {% if isCreator and creator != user.id %}
          <a href="/group/{{ group.id }}/remove/{{ user.id }}" class="pull-right">Remove</a>
        {% endif %}
      </li>
    {% endfor %}
    <ul>
  </div>
  {% if isCreator %}
  <div>
    <button id="delete-group-btn" type="submit" class="btn btn-danger" group-id="{{ group.id }}">Delete This Group</button>
  </div>
  {% endif %}  
  
{% endblock %}