html
  head
    title= title
    link(rel='stylesheet', href='public/css/main.css')
    script(src='http://d3js.org/d3.v3.min.js')
  body
    h1= title
    p Welcome to #{title}
    a#users-link(href='/users/') Users home
    br
    a#groups-link(href='/groups/') Groups home
    br
    script(src='public/js/main.js')
