html
  head
    title= title
    link(rel='stylesheet', href='public/css/style.css')
    script(src='http://d3js.org/d3.v3.min.js')
  body
    h1= title
    p Welcome to #{title}
    script(src='public/js/main.js')

