a {
  color: #00B7FF;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path {
    stroke: #000;
    stroke-width: 2;
    fill: none;
}

#title {
	font-size: 24pt;
}


#container{
	width:100%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
