{% extends "layout-auth.html" %}

{% block auth %}
  <div class="row">

    <!-- USER INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span>My Account</h3>

          <p>
            <strong>id</strong>: {{user.id}}<br>
            <strong>email</strong>: {{user.email}}<br>
            <strong>token</strong>: {{user.token}} <br>
            <strong>refreshToken</strong>: {{user.refreshToken}} <br>
            <strong>name</strong>: {{user.name}} <br>
          </p>

      </div>
    </div>

    <a href="/group/new" class="btn btn-default"><span class="fa fa-group"></span> Create new group</a>
    <a href="/user/groups" class="btn btn-default"><span class="fa fa-group"></span> See my groups</a>

  </div>
{% endblock %}