module.exports = {
  GOOGLE_CLIENT_ID: "96...ip.apps.googleusercontent.com",
  GOOGLE_CLIENT_SECRET: "Mx...Q7",
  GOOGLE_CALLBACK_URL: "http://127.0.0.1:8000/auth/google/callback",
  PASSPORT_SESSION_SECRET: "th...ub",
  NODE_ENV: "dev"
  DB_NAME: 'boxplot',
  DB_HOST: 'localhost',
  DB_USER: 'floored',
  DB_PASSWORD: null,
  DB_PORT: 5432,
  DB_DIALECT: 'postgres',
  PORT: 8000
};
