module.exports = {
  GOOGLE_CLIENT_ID: '96...ip.apps.googleusercontent.com',
  GOOGLE_CLIENT_SECRET: 'Mx...Q7',
  GOOGLE_CALLBACK_URL: 'http://127.0.0.1:8000/auth/google/callback',
  PASSPORT_SESSION_SECRET: 'th...ub',
  NODE_ENV: 'dev',
  DATABASE_URL: 'postgres://floored@localhost:5432/boxplot',
  SESSION_DATABASE_URL: 'postgres://floored@localhost:5432/boxplot_session',
  PORT: 8000,
  MAILGUN_API_KEY: 'ke...k7'
};
